html * {
  font-family: "Merriweather", serif;
}

body {
  background-color: #d1ccc3;
  background-image: 
    linear-gradient(
      to bottom, 
      #343742,
      #343742 30rem,
      #d1ccc3 30rem
    );
  background-repeat: no-repeat;
}

.ui.label img {
  padding: 4px 0 4px 6px;
}

.keyword {
  font-weight: bold;
}

.gold {
  color: goldenrod;
}

.red {
  color: orangered;
}

.green {
  color: limegreen;
}

.purple {
  color: violet;
}

.blue {
  color: deepskyblue;
}

.bold {
  font-weight: bold;
}

.flex-box {
  display: flex;

  .flex-box-left {
    flex-grow: 1;
  }

  .flex-box-right {
    flex-grow: 99;
  }
}