@media only screen and (max-width: 991px) {
  .chara-top.for-mobile {
    background-position-x: center;
  }
}

@media only screen and (max-width: 767px) {
  .chara-top.for-mobile {
    .factions {
      .faction {
        .label {
          display: none;
        }
      }
    }
  }
}

.chara-top {
  background-color: #e5e0d4;
  position: relative;
  overflow: hidden;
  border: 2px solid #cdc2ab;
  border-radius: 0.5em;
  box-shadow: 0 0 0px 2px #e5e0d4;
  margin: 1em 0;

  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-position-y: 10%;

  .face-template {
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid black;
    display: block;
    width: 200px;
    height: 30px;
    opacity: 0.2;

    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .chara-image {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .chara-name-container {
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 0 1px #cdc2ab;
    white-space: nowrap;
    position: relative;
    margin: 1rem;

    .rarity-image {
      float: left;
      margin-right: 0.5rem;
      width: 4rem;
      height: 4rem;
    }

    .chara-name {
      font-family: "Merriweather", serif;
      font-size: 24px;
      line-height: 2rem;
    }

    .chara-title {
      font-family: "Merriweather", serif;
      font-size: 16px;
      line-height: 2rem;

      .role-image {
        margin-right: 0.25rem;
        margin-bottom: -3px;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .factions {
    margin-left: 1rem;

    .faction {
      display: inline-block;
      font-size: 10pt;
      font-weight: bold;
      margin-right: 0.5rem;

      img {
        border: 2px solid #c2b67e;
        border-radius: 99px;
        margin-right: 0.25rem;
        width: 28px;
        height: 28px;
        vertical-align: middle;
      }
    }
  }

  .chara-stats {
    margin: 1em;
    width: 320px;

    h4 {
      margin-bottom: 0;
    }

    .ui.table {
      max-width: 300px;

      img {
        margin-right: 0.25em;
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
    }

    .ui.image.label {
      margin-top: 0.25em;
      margin-right: 0.25em;
      width: 140px !important;

      .detail {
        float: right;
        text-align: center;
        width: 50px;
      }
    }

    .ui.basic.image.label {
      border-color: #cdc2ab;
      background-color: rgb(255 255 255 / 70%);

      .detail {
        background-color: rgb(52 55 66 / 70%);
        color: #e5e0d4;
      }
    }
  }
}