@media only screen and (max-width: 767px) {
  .for-mobile {
    .filter {
      display: block;
      margin-bottom: 1rem;
      margin-right: 0;
    }

    .chara-container {
      .chara-item {
        width: 9rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .for-mobile {
    .chara-container {
      .chara-item {
        width: 9rem;
      }
    }
  }
}

.chara-home {
  h2 {
    color: white;
    font-size: 1.5rem;
  }
}

.filter {
  display: inline-block;
  background-color: #343742;
  border: 2px solid #c2b67e;
  box-shadow: 0px 0px 0px 2px #343742;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  p {
    color: #e5e0d4;
    margin-bottom: 0;
  }

  .ui.checkbox label {
    color: #e5e0d4 !important;
  }

  a {
    cursor: pointer;
    opacity: 0.6;

    &.is-selected {
      opacity: 1;
    }
  }

  img {
    margin: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.chara-container {
  text-align: center;

  .chara-item {
    background-color: #e5e0d4;
    border: 2px solid #cdc2ab;
    border-radius: 0.5em;
    box-shadow: 0 0 0px 2px #e5e0d4;

    position: relative;
    display: inline-block;
    width: 8rem;
    margin: 1rem;
    vertical-align: top;

    &.is-hidden {
      display: none !important;
    }

    .image-left {
      position: absolute;
      top: 0;
      left: -1.5rem;
      text-align: center;
      width: 3rem;

      img {
        display: inline;

        &.rarity-image {
          width: 2.5rem;
          height: 2.5rem;
        }

        &.role-image,
        &.faction-image {
          width: 1.6rem;
          height: 1.6rem;
        }

        &.faction-image {
          display: none;
          
          &.show-faction-image {
            display: inline;
          }
        }
      }
    }

    img.chara-image {
      display: block;
      margin: 0.5rem 0;
      width: 100%;
      max-height: 9rem;
    }

    a {
      display: block;
      background-color: #343742;
      border: 2px solid #c2b67e;
      box-shadow: 0px 0px 0px 2px #343742;
      border-radius: 0.5rem;

      text-align: center;
      color: #e5e0d4;
      font-weight: bold;
      margin: -0.25rem -0.5rem;
      padding: 0.25rem;

      &:hover {
        background-color: rgb(63, 67, 80);
        border-color: #ddcf90;
        color: white;
      }
    }
  }
}