.skill-section {
  .ui.grid .column.is-hidden {
    display: none;
  }

  h4 {
    margin: 1.5em 0 1em;
  }

  .skill-image {
    position: relative;
    display: inline-block;

    img {
      width: 62px;
      height: 62px;
    }

    .skill-border {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .skill-container {
    background-color: #343742;
    color: white;
    border: 2px solid #c2b67e;
    box-shadow: 0px 0px 0px 2px #343742;
    border-radius: 0.5em;

    .skill-type {
      background-color: #c2b67e;
      border-bottom-right-radius: 1em;
      color: #584b32;
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      padding: 0 1em;
      text-align: center;
    }

    .skill-stars {
      color: goldenrod;
      display: inline-block;
      margin-left: 1em;

      a {
        color: goldenrod;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.35em;
      }
    }

    .skill-cost,
    .skill-cooldown {
      float: right;
      background-color: #595d6e;
      border-radius: 0.5em;
      font-size: 9pt;
      margin: 0.5em 0.5em 0 0;
      padding: 0 0.65em 0 0.5em;

      .label {
        display: inline-block;
        color: #e5cc80;
        margin-right: 0.2em;

        i {
          margin-right: 0.2em;
        }
      }

      .value {
        font-weight: bold;
      }
    }

    .skill-name {
      background-color: rgba(194, 182, 126, 0.3);
      color: rgba(255, 255, 255, 0.9);
      text-shadow: 0 0 2px #c2b67e;
      margin: 1em 0;
      padding: 0.5em;
      line-height: 1em;
    }

    .skill-image {
      float: left;
      margin-top: -22px;
      margin-right: 0.25em;

      .skill-border {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .skill-description {
      margin: 1em;
    }

    .skill-range {
      border: 2px solid rgba(194, 182, 126, 0.3);
      margin: 0.5em;

      .flex-box-left {
        padding: 0.5em 0 0.5em 0.5em;
      }

      .flex-box-right {
        padding: 0.5em;
      }

      .range-image {
        width: 88px;
        height: 88px;
      }

      .skill-tags {
        .label {
          display: inline-block;
          margin-right: 0.5em;
          padding: 0 1em;

          background-color: rgba(194, 182, 126, 0.3);
          border-radius: 0.5em;
          color: white;
          font-size: 9pt;
          font-weight: bold;
        }
      }

      table {
        border-spacing: 0;
        width: 100%;

        tr {
          td {
            border-bottom: 1px solid #c2b67e;
            color: white;
            padding: 0.2em 0.4em;
            font-size: 9pt;

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }
}