// .section-container {
//   background-color: #e5e0d4;
//   border: 1px solid #cdc2ab;
//   border-radius: 0.5em;
//   box-shadow: 0 0 3px #343742;
//   padding: 0.25em;

//   .section {
//     background-color: #e5e0d4;
//     border: 3px solid #cdc2ab;
//     border-radius: 0.3em;
//     padding: 0.5em;

//     .skill-image {
//       border: 6px solid transparent;
//       border-radius: 999px;

//       &:first-child {
//         border-color: #404b63;
//       }
//     }
//   }
// }

.skill-section {
  .ui.grid .column.is-hidden {
    display: none;
  }

  h4 {
    margin: 1.5em 0 1em;
  }

  .skill-image {
    position: relative;
    display: inline-block;

    img {
      width: 62px;
      height: 62px;
    }

    .skill-border {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .skill-container {
    background-color: #343742;
    color: white;
    border: 2px solid #c2b67e;
    box-shadow: 0px 0px 0px 2px #343742;
    border-radius: 0.5em;

    .skill-type {
      background-color: #c2b67e;
      border-bottom-right-radius: 1em;
      color: #584b32;
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      padding: 0 1em;
      text-align: center;
    }

    .skill-stars {
      color: goldenrod;
      display: inline-block;
      margin-left: 1em;

      a {
        color: goldenrod;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.35em;
      }
    }

    .skill-name {
      background-color: rgba(194, 182, 126, 0.3);
      color: rgba(255, 255, 255, 0.9);
      text-shadow: 0 0 2px #c2b67e;
      margin: 1em 0;
      padding: 0.5em;
      line-height: 1em;
    }

    .skill-image {
      float: left;
      margin-top: -22px;
      margin-right: 0.25em;

      .skill-border {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .skill-description {
      margin: 1em;
    }

    .skill-range {
      border: 2px solid rgba(194, 182, 126, 0.3);
      margin: 0.5em;
      padding: 0.5em;

      .range-image {
        width: 72px;
        height: 72px;
      }

      table {
        border-spacing: 0;
        margin-left: 0.5em;

        tr {
          td {
            border-bottom: 1px solid #c2b67e;
            color: white;
            padding: 0.2em 0.4em;

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }
}