.skill-container {
  background-color: #343742;
  color: white;
  border: 2px solid #c2b67e;
  box-shadow: 0px 0px 0px 2px #343742;
  border-radius: 0.5em;
  margin: 1em 0;

  &.is-hidden {
    display: none;
  }

  .skill-type {
    background-color: #c2b67e;
    border-bottom-right-radius: 1em;
    color: #584b32;
    display: inline-block;
    line-height: 1.5;
    padding-right: 1em;
    text-align: center;
    width: 100px;
  }

  .skill-stars {
    color: goldenrod;
    display: inline-block;
    margin-left: 1em;

    a {
      color: goldenrod;
      display: inline-block;
      margin-right: 0.25em;
    }
  }

  .skill-name {
    // background-color: #c2b67e;
    // color: #584b32;
    background-color: rgba(194, 182, 126, 0.5);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 3px 3px black;
    margin: 1em 0;
    padding: 0.5em;
    line-height: 1em;
  }

  .skill-image {
    position: relative;
    display: block;
    float: left;
    margin-top: -1.25em;
    margin-right: 0.25em;

    img {
      width: 3.5em;
      height: 3.5em;
    }

    .skill-border {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .skill-description {
    margin: 1em;
  }
}