@media only screen and (max-width: 767px) {
  .skill-selection-menu.for-mobile {
    .skill-image-container {
      white-space: break-spaces;
    }
  }

  .skill-details-section.for-mobile {
    .skill-container {
      .skill-description-container {
        display: block;

        .skill-range {
          display: block;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.skill-image {
  position: relative;
  display: inline-block;

  img {
    width: 62px;
    height: 62px;
  }

  .skill-border {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 66px;
    height: 66px;
  }
}


.trait-section {
  margin: 1rem 0;

  h4 {
    color: white;
    font-size: 14pt;
    margin: 1rem 0;
  }

  .trait-container {
    background-color: #e5e0d4;
    border: 2px solid #cdc2ab;
    box-shadow: 0px 0px 0px 2px #e5e0d4;
    border-radius: 0.5em;

    &.is-hidden {
      display: none;
    }

    .trait-type {
      background-color: #cdc2ab;
      border-bottom-right-radius: 1rem;
      color: #584b32;
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      padding: 0 1rem;
      text-align: center;
    }

    .trait-stars {
      display: inline-block;
      margin-left: 1rem;
      margin-bottom: -0.5rem;
      font-size: 15pt;
      vertical-align: middle;

      .star {
        cursor: pointer;
        color: goldenrod;
        display: inline-block;
        margin-right: 0.25rem;
      }
    }

    .trait-name {
      background-color: rgba(194, 182, 126, 0.3);
      color: #584b32;
      text-shadow: 0 0 2px #c2b67e;
      margin: 1em 0;
      padding: 0.5em 0.25em;
      line-height: 1em;
    }

    .skill-image {
      float: left;
      margin-top: -22px;
      margin-right: 0.5em;
    }

    .trait-description {
      color: black;
      margin: 1em;
      text-align: justify;
    }
  }
}

.skill-details-section {
  .trait-group.is-hidden {
    display: none
  }

  .ui.grid .column.is-hidden {
    display: none;
  }

  h4 {
    color: black;
    font-size: 14pt;
    margin: 1rem 0;
  }

  .skill-container {
    background-color: #343742;
    color: white;
    border: 2px solid #c2b67e;
    box-shadow: 0px 0px 0px 2px #343742;
    border-radius: 0.5em;

    .skill-type {
      background-color: #c2b67e;
      border-bottom-right-radius: 1em;
      color: #584b32;
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      padding: 0 1em;
      text-align: center;
    }

    .skill-cost,
    .skill-cooldown {
      float: right;
      background-color: #595d6e;
      border-radius: 0.5em;
      font-size: 9pt;
      margin: 0.5em 0.5em 0 0;
      padding: 0 0.65em 0 0.5em;

      .label {
        display: inline-block;
        color: #e5cc80;
        margin-right: 0.2em;

        i {
          margin-right: 0.2em;
        }
      }

      .value {
        font-weight: bold;
      }
    }

    .skill-name {
      background-color: rgba(194, 182, 126, 0.3);
      color: rgba(255, 255, 255, 0.9);
      text-shadow: 0 0 2px #c2b67e;
      margin: 1em 0;
      padding: 0.5em 0.25em;
      line-height: 1em;
    }

    .skill-image {
      float: left;
      margin-top: -22px;
      margin-right: 0.5em;

      .skill-border {
        position: absolute;
      }
    }

    .skill-description-container {
      display: flex;
      margin: 1rem;

      .skill-description {
        margin-right: 0.5rem;
        text-align: justify;
        width: 100%;
      }

      .skill-range {
        border: 2px solid rgba(194, 182, 126, 0.3);
        padding: 0.5rem;

        img {
          width: 6.5rem;
          height: 6.5rem;
        }
      }
    }
  }
}