#container {
  padding: 0 10px;
}

// Character Top
.character-top {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 1em 0;

  .character-name {
    position: relative;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.2);

    >.image {
      margin-right: 0.5em;
    }

    .subtitle .image {
      margin-right: 0.25em;
      margin-bottom: -0.2em;
    }
  }

  .character-image {
    position: absolute;
  }
}

// Tags Section
.tags-section {
  position: relative;
  margin: 1em;

  .tag .image {
    margin-right: 0.2em;
  }
}

// Section Title
.section-title {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-bottom: 0.5em !important;

  &.is-defender {
    border-color: green;
  }

  &.is-breaker {
    border-color: crimson;
  }

  &.is-seeker {
    border-color: royalblue;
  }

  &.is-destroyer {
    border-color: purple;
  }

  &.is-watcher {
    border-color: gold;
  }
}

.skills-section {
  margin-bottom: 1em;

  .rank-title {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
  }
}

.media {
  .skill-image {
    border: 3px solid #ddd;
    border-radius: 999px;
  }

  .media-content .content {
    .tabs {
      margin-bottom: 0.5em;

      ul {
        margin-inline-start: 0;
      }
    }

    >p,
    >.message {
      margin-bottom: 0.5em;
    }

    p,
    .keyword-table.table {
      .keyword {
        font-weight: bold;
      }

      .red {
        color: crimson;
      }

      .gold {
        color: goldenrod;
      }

      .green {
        color: green;
      }

      .bold {
        font-weight: bold;
      }

      .image {
        width: 20px;
        height: 20px;
        margin-bottom: -3px;
      }
    }

    .keywords.message .message-body {
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      padding: 0.25em 0.5em;

      &:first-child {
        padding-top: 0.5em;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0.5em;
      }

      .image {
        width: 16px;
        height: 16px;
      }
    }

    .tag .image.is-16x16 {
      margin-bottom: 0;
      margin-right: 0.2em;
    }

    .range-table.table td:last-child {
      text-align: right;
    }

    .range-image {
      border: 3px solid goldenrod;
    }
  }
}


// Attributes Section
.attrs-section {
  margin-bottom: 1em;

  .table {
    border: 1px solid #ddd;

    tr td {
      text-align: center;

      &:first-child {
        width: 100%;
        text-align: left;
      }
    }

    .image {
      margin-bottom: -3px;
    }
  }
}

.ri-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
}

.ri-rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

.ri-rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-block;
}